body {
    font-size: 16px;
    color: #fff;
    background-color: #045787;
    font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #3097D1;
  border-radius: 0;
  border: 0;
}

.navbar{
  min-height: 65px
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 0;
  line-height: .75;
  padding-left: 20px
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-toggle{
  margin-top: 15px
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-size:20px;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-nav li{
  border-bottom: 1px solid #fff;
} 
/*end of header*/

/**Start Main content**/
#menu-categories-title + div {
  margin-bottom: 50px;
}
.container {
    margin-top: 30px;
    padding: 0;
  }
#sub-content {
  border: 1px solid black;
  text-align: justify;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom:10px;
}
#sub-content p{
    margin-top: 40px;
    padding: 10px;
    color:#000;
}
#sub-content span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
    padding-left:10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.toplink{
float:right;
padding-right:20px;
}
.toplink a{
  color:#fff;
  text-decoration: underline;
}

/**end of main content**/